{% extends "account/loginbase.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="mt-4 mb-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto text-center">
					<h5 class='card-title text-muted text-uppercase'><a class="login_brand text-muted" href="{% url 'index' %}"><i class="fas fa-fire-alt"></i> {% trans "Global Fire API" %}</a></h5>
			</div>
		</div>
	</div>
</section>

<section id='password-reset'>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-body text-center">
						<p class='mb-4 text-center'>{% blocktrans %}To change your password, please provide both your current and new passwords below.{% endblocktrans %}</p>

                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class='btn btn-primary' name="action">{% trans "Change Password" %}</button>
                        </form>
                    
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

