{% extends "account/loginbase.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="mt-4 mb-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto text-center">
					<h5 class='card-title text-muted text-uppercase'><a class="login_brand text-muted" href="{% url 'index' %}"><i class="fas fa-fire-alt"></i> {% trans "Global Fire API" %}</a></h5>
			</div>
		</div>
	</div>
</section>

<section id='password-reset'>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-body text-center">
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p>{% trans "Having trouble logging in? Enter your email address and we&apos;ll send you a link to reset your password." %}</p>

                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class='btn btn-primary' value="{% trans 'Send Password Reset Email' %}" />
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

