{% extends "account/loginbase.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="mt-4 mb-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto text-center">
					<h5 class='card-title text-muted text-uppercase'><a class="login_brand text-muted" href="{% url 'index' %}"><i class="fas fa-fire-alt"></i> {% trans "Global Fire API" %}</a></h5>
			</div>
		</div>
	</div>
</section>

<section id='password-reset'>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-body text-center">
                        {% csrf_token %}

                        <p>Your password was successfully changed!</p>
                        <a href="{% url 'account_login' %}" class="btn btn-primary" role="button" aria-disabled="true">Sign In</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}